<script type='module' src='https://10az.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>

<div type="content">
    <h1 id="title" class="display-5 mb-5" style="font-size: 20;"> Perfume price & rating Comparing between different platform</h1>
    <body id="content">
    <tableau-viz id='tableau-viz' src='https://10az.online.tableau.com/t/perfume/views/Table1/1_1' width='1024' height='795' hide-tabs  hide-toolbar></tableau-viz>
    </body>
</div>

<div type="bottom">
    <div class="bottom" style="bottom: 1;"> Use filter to change the graph</div>
</div>

