__pycache__
.git/
*env/
data/entity_linking/samAs_predictions.csv
data/entity_linking/predictions.csv
data/entity_linking/haveSimilarPrices_TRUE_predictions.csv
data/entity_linking/haveSimilarScents_TRUE_predictions.csv
data/entity_linking/samAs_TRUE_predictions.csv
data/entity_linking/sameAs_predictions.csv
data/entity_linking/sameAs_TRUE_predictions.csv
data/entity_linking/allNodes2000.csv
data/entity_linking/haveSimilarPrices_TRUE_predictions2000.csv
data/entity_linking/haveSimilarScents_TRUE_predictions2000.csv
data/entity_linking/sameAs_predictions2000.csv
data/entity_linking/sameAs_TRUE_predictions2000.csv
data/entity_linking/sameAs_TRUE_predictions_jaro_0.6.csv
data/entity_linking/sameAs_TRUE_predictions_jaro_0.8.csv
data/entity_linking/sameAs_TRUE_predictions_jaro_jaccard_0.5.csv
data/entity_linking/sameAs_TRUE_predictions_needleman_0.8.csv
data/rltk-experimentation-master.zip
data/entity_linking/allNodes_unstructured.csv
./project_presentation
